# Exploring the data for Buoy CHII2 for the year 2005 - 2018.

### Exploring the data for 2005.

#### Starting Oct 1, 2006, there are daily averages for 
 - (ATMP) air temperature 
 - (WDIR) Wind Direction 
 - (WSPD) Wind Speed 
 - (GST) "Peak 5 or 8 second gust speed (m/s) measured during the eight-minute or two-minute period. The 5 or 8 second period can be determined by payload, See the Sensor Reporting, Sampling, and Accuracy section." 
 
#### Missing data
 - Some in 2005
 - Some in 2006 (before 10)
 - Nov. 10-12, 2007
 
[Data Dictionary](https://www.ndbc.noaa.gov/measdes.shtml)

In [1]:
import pandas as pd

In [2]:
data_05 = pd.read_csv('../data/buoy_CHII2/chii2h2005.csv')
print(data_05.shape)
data_05.head()

(6804, 18)

,YYYY,MM,DD,hh,mm,WD,WSP,D GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,TIDE
0,2005,2,14,20,0,300,9.3,11.8,99,99,99,999,9999,3.8,999,999,99,99
1,2005,2,14,21,0,290,10.8,12.9,99,99,99,999,9999,4.6,999,999,99,99
2,2005,2,14,22,0,280,11.8,14.4,99,99,99,999,9999,5.1,999,999,99,99
3,2005,2,14,23,0,290,11.8,14.4,99,99,99,999,9999,4.7,999,999,99,99
4,2005,2,15,0,0,280,9.3,11.3,99,99,99,999,9999,4.7,999,999,99,99

In [3]:
data_05.rename(mapper={
    'YYYY': '#YY',
    'WD': 'WDIR',
    'WSP': 'WSPD',
    'D GST': 'GST'
}, axis=1, inplace=True)

In [4]:
data_05.isnull().sum()

#YY     0
MM      0
DD      0
hh      0
mm      0
WDIR    0
WSPD    0
GST     0
WVHT    0
DPD     0
APD     0
MWD     0
BAR     0
ATMP    0
WTMP    0
DEWP    0
VIS     0
TIDE    0
dtype: int64

In [5]:
# there are 28 fields in the 'ATMP' feature that are not reported.
sum(data_05['ATMP'] == 999)

28

In [6]:
data_05[data_05['ATMP'] == 999]

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,TIDE
483,2005,3,8,11,0,360,8.2,10.3,99,99,99,999,9999,999.0,999,999,99,99
484,2005,3,8,12,0,360,9.8,11.3,99,99,99,999,9999,999.0,999,999,99,99
485,2005,3,8,13,0,340,9.3,10.8,99,99,99,999,9999,999.0,999,999,99,99
486,2005,3,8,14,0,350,8.2,9.3,99,99,99,999,9999,999.0,999,999,99,99
487,2005,3,8,15,0,350,8.2,9.8,99,99,99,999,9999,999.0,999,999,99,99
488,2005,3,8,16,0,360,8.2,9.8,99,99,99,999,9999,999.0,999,999,99,99
489,2005,3,8,17,0,10,9.8,10.8,99,99,99,999,9999,999.0,999,999,99,99
490,2005,3,8,18,0,20,7.7,9.8,99,99,99,999,9999,999.0,999,999,99,99
491,2005,3,8,19,0,30,7.7,9.3,99,99,99,999,9999,999.0,999,999,99,99
492,2005,3,8,20,0,30,7.2,8.8,99,99,99,999,9999,999.0,999,999,99,99
493,2005,3,8,21,0,20,6.7,8.2,99,99,99,999,9999,999.0,999,999,99,99
494,2005,3,8,22,0,20,5.7,6.7,99,99,99,999,9999,999.0,999,999,99,99
495,2005,3,8,23,0,340,5.7,7.7,99,99,99,999,9999,999.0,999,999,99,99
496,2005,3,9,0,0,330,6.2,7.2,99,99,99,999,9999,999.0,999,999,99,99
497,2005,3,9,1,0,340,6.2,7.7,99,99,99,999,9999,999.0,999,999,99,99
498,2005,3,9,2,0,340,4.1,5.1,99,99,99,999,9999,999.0,999,999,99,99
499,2005,3,9,3,0,340,4.1,5.1,99,99,99,999,9999,999.0,999,999,99,99
500,2005,3,9,4,0,340,4.6,6.2,99,99,99,999,9999,999.0,999,999,99,99
501,2005,3,9,5,0,340,5.1,6.7,99,99,99,999,9999,999.0,999,999,99,99
502,2005,3,9,6,0,350,7.2,7.7,99,99,99,999,9999,999.0,999,999,99,99
503,2005,3,9,7,0,360,8.8,10.8,99,99,99,999,9999,999.0,999,999,99,99
504,2005,3,9,8,0,360,8.2,9.3,99,99,99,999,9999,999.0,999,999,99,99
505,2005,3,9,9,0,330,6.7,7.7,99,99,99,999,9999,999.0,999,999,99,99
506,2005,3,9,10,0,340,7.2,8.2,99,99,99,999,9999,999.0,999,999,99,99
507,2005,3,9,11,0,330,6.2,6.7,99,99,99,999,9999,999.0,999,999,99,99
508,2005,3,9,12,0,330,5.7,7.2,99,99,99,999,9999,999.0,999,999,99,99
1096,2005,4,7,3,0,10,6.7,7.2,99,99,99,999,9999,999.0,999,999,99,99
1409,2005,4,20,15,0,20,8.8,10.3,99,99,99,999,9999,999.0,999,999,99,99

In [7]:
data_05.dtypes

#YY       int64
MM        int64
DD        int64
hh        int64
mm        int64
WDIR      int64
WSPD    float64
GST     float64
WVHT      int64
DPD       int64
APD       int64
MWD       int64
BAR       int64
ATMP    float64
WTMP      int64
DEWP      int64
VIS       int64
TIDE      int64
dtype: object

In [8]:
data_05.columns

Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR', 'WSPD', 'GST', 'WVHT', 'DPD',
       'APD', 'MWD', 'BAR', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')

In [9]:
features = ['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR', 'WSPD', 'GST', 'ATMP']

In [10]:
data_2005 = data_05[features]

In [11]:
data_2005.head()

    #YY  MM  DD  hh  mm  WDIR  WSPD   GST  ATMP
0  2005   2  14  20   0   300   9.3  11.8   3.8
1  2005   2  14  21   0   290  10.8  12.9   4.6
2  2005   2  14  22   0   280  11.8  14.4   5.1
3  2005   2  14  23   0   290  11.8  14.4   4.7
4  2005   2  15   0   0   280   9.3  11.3   4.7

In [12]:
data_2005.groupby(['#YY', 'MM', 'DD']).mean().drop('hh', axis=1)

             mm        WDIR       WSPD        GST        ATMP
#YY  MM DD
2005 2  14  0.0  290.000000  10.925000  13.375000    4.550000
        15  0.0  168.750000   4.912500   5.808333    3.520833
        16  0.0  289.583333   7.245833   8.420833   -0.620833
        17  0.0  305.000000   9.522727  11.295455   -4.413636
        18  0.0  262.916667   6.329167   7.683333   -7.570833
        19  0.0  273.333333   7.320833   8.808333   -1.733333
        20  0.0  175.000000   8.150000   9.333333    0.658333
        21  0.0  225.000000   5.083333   5.820833    1.416667
        22  0.0  230.714286   4.964286   5.464286   -0.042857
        23  0.0  219.583333   3.679167   4.170833   -1.133333
        24  0.0  134.583333   4.125000   4.508333   -0.395833
        25  0.0  205.000000   4.758333   5.466667    0.666667
        26  0.0   70.000000   6.583333   7.404167   -0.929167
        27  0.0  158.571429   8.142857   9.207143   -0.614286
        28  0.0  212.083333   6.700000   7.666667    0.237500
     3  1   0.0  335.416667  10.962500  12.958333   -4.120833
        2   0.0  293.478261   8.626087  10.052174   -6.378261
        3   0.0  223.333333   5.070833   5.945833   -3.945833
        4   0.0  181.250000   3.687500   4.079167    0.487500
        5   0.0  129.166667   4.650000   5.079167    1.458333
        6   0.0  262.272727  10.604545  12.931818    7.513636
        7   0.0  219.583333  12.791667  15.512500    8.766667
        8   0.0  199.230769   7.876923   9.430769  999.000000
        9   0.0  266.363636   6.500000   7.690909  588.345455
        10  0.0  258.333333   7.766667   9.050000   -2.579167
        11  0.0  314.782609   9.721739  11.508696   -0.200000
        12  0.0  270.588235   9.758824  11.870588   -2.500000
        13  0.0  191.875000   5.025000   6.112500   -3.806250
        14  0.0  148.750000   2.937500   3.529167   -0.900000
        15  0.0  264.166667   4.920833   5.766667   -0.716667
...         ...         ...        ...        ...         ...
     12 2   0.0  313.043478   9.139130  11.191304   -6.352174
        3   0.0  198.333333   4.608333   5.983333   -4.220833
        4   0.0  263.750000   6.891667   8.050000   -2.929167
        5   0.0  298.695652   6.778261   8.108696   -8.973913
        6   0.0  294.166667   5.316667   6.583333  -10.112500
        7   0.0  297.083333   5.520833   6.850000  -12.162500
        8   0.0  202.083333   5.791667   7.083333   -6.666667
        9   0.0  259.583333   7.495833   8.962500   -4.654167
        10  0.0  223.913043  12.086957  14.282609   -7.260870
        11  0.0  312.083333   7.862500   9.420833   -1.966667
        12  0.0  323.750000   4.929167   5.729167   -3.516667
        13  0.0  260.416667   4.775000   5.833333   -3.941667
        14  0.0  174.166667  11.291667  13.516667   -1.854167
        15  0.0  226.521739   6.982609   8.130435    0.730435
        16  0.0  269.166667  10.512500  13.408333   -3.900000
        17  0.0  271.538462   8.553846  10.661538   -6.423077
        18  0.0  295.416667   6.950000   8.458333   -9.587500
        19  0.0  290.833333   7.833333   9.470833  -12.812500
        20  0.0  281.250000   8.125000   9.725000   -9.295833
        21  0.0  285.416667   5.533333   6.708333   -7.625000
        22  0.0  236.250000   8.637500  10.325000   -3.754167
        23  0.0  232.500000   9.862500  11.975000    3.954167
        24  0.0  195.833333   5.354167   5.966667    3.633333
        25  0.0  179.583333  10.175000  11.304167    1.441667
        26  0.0  332.083333   7.441667   8.608333    1.579167
        27  0.0  199.565217   7.286957   8.239130    1.395652
        28  0.0   80.416667   7.191667   7.895833    2.708333
        29  0.0  295.652174  10.408696  11.660870    1.265217
        30  0.0   90.000000   2.780000   3.090000    0.610000
        31  0.0  292.500000   9.000000  10.175000    2.375000

[305 rows x 5 columns]

### Exploring the data for 2006.

In [13]:
data_06 = pd.read_csv('../data/buoy_CHII2/chii2h2006.csv')
print(data_06.shape)
data_06.head()

(2182, 18)

,YYYY,MM,DD,hh,mm,WD,WSP,D GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,TIDE
0,2006,3,1,0,0,280,12.4,14.4,99,99,99,999,9999,9.8,999,999,99,99
1,2006,3,30,14,0,190,4.6,5.7,99,99,99,999,9999,5.6,999,999,99,99
2,2006,3,30,16,0,180,6.7,7.2,99,99,99,999,9999,8.1,999,999,99,99
3,2006,3,30,17,0,180,8.8,9.3,99,99,99,999,9999,10.3,999,999,99,99
4,2006,3,30,18,0,190,8.8,10.3,99,99,99,999,9999,11.9,999,999,99,99

In [14]:
data_06.rename(mapper={
    'YYYY': '#YY',
    'WD': 'WDIR',
    'WSP': 'WSPD',
    'D GST': 'GST'
}, axis=1, inplace=True)

In [15]:
data_06.tail()

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,TIDE
2177,2006,12,31,17,0,140,10.3,12.9,99,99,99,999,9999,5.5,999,999,99,99
2178,2006,12,31,18,0,150,9.8,12.4,99,99,99,999,9999,5.7,999,999,99,99
2179,2006,12,31,20,0,150,8.8,10.3,99,99,99,999,9999,7.5,999,999,99,99
2180,2006,12,31,21,0,160,7.2,8.8,99,99,99,999,9999,9.4,999,999,99,99
2181,2006,12,31,22,0,230,10.3,13.4,99,99,99,999,9999,13.6,999,999,99,99

In [16]:
data_2006 = data_06[features]
data_2006.head()

    #YY  MM  DD  hh  mm  WDIR  WSPD   GST  ATMP
0  2006   3   1   0   0   280  12.4  14.4   9.8
1  2006   3  30  14   0   190   4.6   5.7   5.6
2  2006   3  30  16   0   180   6.7   7.2   8.1
3  2006   3  30  17   0   180   8.8   9.3  10.3
4  2006   3  30  18   0   190   8.8  10.3  11.9

In [17]:
pd.options.display.max_rows = 500

In [18]:
data_2006.groupby(['#YY', 'MM', 'DD']).mean().drop(['hh', 'mm'], axis=1).tail(100)

                  WDIR       WSPD        GST       ATMP
#YY  MM DD
2006 7  12  310.434783   5.556522   6.295652  19.695652
        13  185.416667   2.991667   3.575000  20.612500
        14  130.869565   4.695652   5.521739  23.043478
        15  201.111111   4.233333   4.911111  26.150000
        16  220.000000   5.568182   6.568182  29.077273
        17  199.285714   8.714286  10.678571  29.528571
        18  124.285714   9.942857  11.842857  27.428571
        19   76.000000   6.720000   7.633333  23.040000
     10 1   193.000000   4.190000   4.905000  15.790000
        2   142.222222   9.811111  11.705556  19.527778
        3   145.714286   7.019048   8.214286  18.676190
        4   261.176471  12.352941  14.652941  18.200000
        5    37.000000  10.845000  12.875000  13.100000
        6    60.000000   6.276190   7.895238  12.152381
        7   138.421053   6.315789   7.610526  13.142105
        8   186.470588   7.176471   8.258824  16.458824
        9   250.476190   5.076190   5.819048  16.771429
        10   99.473684   8.447368   9.794737  12.800000
        11  179.411765   6.847059   8.964706  12.270588
        12  261.111111  11.677778  15.194444   2.333333
        13  242.777778  12.711111  17.144444   4.422222
        14  265.000000   9.231250  11.712500   7.037500
        15  239.411765   6.305882   7.517647   7.635294
        16  170.000000   8.833333  10.594444  11.405556
        17  202.777778   9.111111  10.861111  11.727778
        18  215.263158   4.878947   5.747368  14.147368
        19  312.380952   6.642857   8.161905   6.319048
        20  254.285714   5.878571   7.478571   6.621429
        21  179.047619   7.128571   8.385714  11.171429
        22  261.052632   9.157895  11.389474   5.931579
        23  277.894737   8.173684  10.226316   3.300000
        24  289.047619   6.571429   8.104762   3.371429
        25  237.692308   3.176923   3.800000   6.400000
        26  124.117647   9.223529  10.617647   7.952941
        27   59.411765   8.000000   9.411765   6.911765
        28  277.894737  11.847368  14.600000   7.378947
        29  256.250000   7.000000   8.531250   7.431250
        30  181.764706  10.088235  11.382353  12.794118
        31  245.000000  11.920000  14.855000  11.545000
     11 1   291.333333   6.806667   8.580000   2.866667
        2   277.333333   9.060000  11.293333   1.373333
        3   269.375000   6.231250   7.818750   0.556250
        4   188.666667   8.893333  10.746667   5.500000
        5   181.428571   6.280952   7.180952   8.104762
        6   175.555556   6.066667   6.772222   9.522222
        7   121.666667   3.433333   3.872222  10.122222
        8   194.666667   4.466667   5.073333   9.773333
        9   156.363636   7.818182   9.209091  13.454545
        10   43.125000   8.756250  10.112500   8.512500
        11  329.000000  15.260000  17.735000   4.490000
        12  180.000000   5.453846   7.115385   4.423077
        13  186.428571   8.978571  10.550000   3.314286
        14  212.222222   4.311111   5.033333   5.455556
        15   73.125000   8.850000  10.262500   6.956250
        16  140.526316  16.889474  20.131579   5.994737
        17  280.000000   7.400000   8.984615   3.176923
        18  303.333333   4.566667   5.488889   4.288889
        19  342.352941  10.982353  12.911765   3.835294
        20  316.250000   6.450000   7.587500   2.025000
        21  190.769231   7.384615   8.400000   4.184615
        22  173.571429   7.235714   8.164286   5.492857
        23  162.105263   5.647368   6.205263   6.589474
        24  159.285714   7.392857   8.235714   7.664286
        25  183.846154   6.261538   6.815385  11.115385
        26  178.000000   5.240000   6.070000  12.710000
        27  181.875000   6.462500   7.462500  13.493750
        28  172.777778   8.527778   9.583333  12.855556
        29  191.333333   9.873333  11.646667  14.433333
        30  326.666667  10.261111  12.022222   2.094444
     12 1    92.000000  14.966667  17.993333   1.380000
        2   234.375000   8.556250  10.812500  -3.531250
        3   269.375000   9.462500  11.931250  -7.693750
        4   230.555556   9.988889  12.955556  -7.827778
        5   245.882353   9.229412  11.447059  -7.023529
        6   231.578947  11.868421  14.542105   0.984211
        7   307.058824  11.247059  14.070588  -7.923529
        8   253.333333   8.677778  11.077778  -9.344444
        9   197.500000  12.312500  15.006250  -2.625000
        10  199.444444  11.933333  14.638889   3.255556
        11  184.444444   8.405556   9.833333   5.088889
        12  166.000000   7.960000   9.026667   6.886667
        13  227.777778   8.733333  11.711111   4.172222
        14  202.777778  10.061111  12.133333   7.394444
        15  257.894737   9.110526  11.673684   6.621053
        16  186.470588   8.200000   9.288235   4.517647
        17  267.000000   6.465000   7.390000   8.850000
        18  258.000000   4.955000   5.660000   2.725000
        19  264.210526   3.694737   4.378947   1.221053
        20  194.705882   5.447059   6.347059   1.964706
        21   94.285714   6.764286   7.507143   4.121429
        22  149.375000   7.656250   8.943750   7.837500
        23  248.000000  10.815000  14.380000   3.975000
        24  241.428571   5.880952   7.128571   2.176190
        25  241.578947   6.126316   7.026316   2.915789
        26  318.750000  10.143750  11.843750   1.100000
        27  228.888889   6.266667   7.638889   0.711111
        28  156.000000   6.286667   7.173333   3.646667
        29  115.333333   4.926667   5.460000   5.026667
        30  166.250000   2.656250   3.068750   5.875000
        31  121.111111   8.472222   9.933333   6.577778

### Exploring the data for 2007.
 - 10/10-12/2007 are missing

In [33]:
data_07 = pd.read_csv('../data/buoy_CHII2/chii2h2007.csv')
print(data_07.shape)
data_07.head()

(6697, 18)

,#YY,MM,DD,hh,mm,WDI,R WSP,D GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,#yr,mo,dy,hr,mn,deg,T m/s,m/s,m,sec,sec,deg,T hPa,degC,degC,degC,nmi,ft
1,2007,1,1,0,0,210,11.8,17,99,99,99,999,9999,11.8,999,999,99,99
2,2007,1,1,1,0,210,9.3,11.3,99,99,99,999,9999,10.6,999,999,99,99
3,2007,1,1,2,0,220,11.3,14.4,99,99,99,999,9999,10.2,999,999,99,99
4,2007,1,1,4,0,200,13.4,15.4,99,99,99,999,9999,8,999,999,99,99

In [34]:
sum(data_07['ATMP'] == 999)

0

In [35]:
sum(data_07['WDI'] == 999)

0

In [36]:
sum(data_07['R WSP'] == 999)

0

In [37]:
data_07.head()

,#YY,MM,DD,hh,mm,WDI,R WSP,D GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,#yr,mo,dy,hr,mn,deg,T m/s,m/s,m,sec,sec,deg,T hPa,degC,degC,degC,nmi,ft
1,2007,1,1,0,0,210,11.8,17,99,99,99,999,9999,11.8,999,999,99,99
2,2007,1,1,1,0,210,9.3,11.3,99,99,99,999,9999,10.6,999,999,99,99
3,2007,1,1,2,0,220,11.3,14.4,99,99,99,999,9999,10.2,999,999,99,99
4,2007,1,1,4,0,200,13.4,15.4,99,99,99,999,9999,8,999,999,99,99

In [38]:
data_07.rename(mapper={
    'WDI': 'WDIR',
    'R WSP': 'WSPD',
    'D GST': 'GST'
}, axis=1, inplace=True)

In [39]:
data_07.head()

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,#yr,mo,dy,hr,mn,deg,T m/s,m/s,m,sec,sec,deg,T hPa,degC,degC,degC,nmi,ft
1,2007,1,1,0,0,210,11.8,17,99,99,99,999,9999,11.8,999,999,99,99
2,2007,1,1,1,0,210,9.3,11.3,99,99,99,999,9999,10.6,999,999,99,99
3,2007,1,1,2,0,220,11.3,14.4,99,99,99,999,9999,10.2,999,999,99,99
4,2007,1,1,4,0,200,13.4,15.4,99,99,99,999,9999,8,999,999,99,99

In [40]:
data_2007 = data_07[features]

In [41]:
data_2007.drop(index=0, inplace=True)
print(data_2007.shape)
data_2007.head()

(6696, 9)

/Users/blakewallace/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

    #YY MM DD hh mm WDIR  WSPD   GST  ATMP
1  2007  1  1  0  0  210  11.8    17  11.8
2  2007  1  1  1  0  210   9.3  11.3  10.6
3  2007  1  1  2  0  220  11.3  14.4  10.2
4  2007  1  1  4  0  200  13.4  15.4     8
5  2007  1  1  5  0  220  10.8    16   7.5

In [42]:
data_2007.shape

(6696, 9)

In [43]:
data_2007 = data_2007.astype('float', inplace=True)

In [44]:
data_2007.shape

(6696, 9)

In [45]:
data_2007.dtypes

#YY     float64
MM      float64
DD      float64
hh      float64
mm      float64
WDIR    float64
WSPD    float64
GST     float64
ATMP    float64
dtype: object

In [46]:
data_2007.shape

(6696, 9)

In [52]:
data_07 = data_2007.groupby(['#YY', 'MM', 'DD']).mean().drop(['hh', 'mm'], axis=1)

In [53]:
data_07.head()

                      WDIR       WSPD        GST      ATMP
#YY    MM  DD
2007.0 1.0 1.0  258.333333   9.950000  12.933333  5.316667
           2.0  254.000000   5.715000   6.585000  2.430000
           3.0  198.823529  10.717647  12.935294  3.541176
           4.0  194.117647  12.870588  15.458824  5.852941
           5.0  222.500000   7.385000   8.775000  8.410000

In [54]:
data_07.shape

(362, 4)

In [55]:
data_07

                        WDIR       WSPD        GST       ATMP
#YY    MM   DD
2007.0 1.0  1.0   258.333333   9.950000  12.933333   5.316667
            2.0   254.000000   5.715000   6.585000   2.430000
            3.0   198.823529  10.717647  12.935294   3.541176
            4.0   194.117647  12.870588  15.458824   5.852941
            5.0   222.500000   7.385000   8.775000   8.410000
            6.0   293.157895   5.794737   6.968421   4.178947
            7.0   188.500000   5.895000   7.000000   3.215000
            8.0   243.846154  10.284615  12.876923   1.623077
            9.0   284.736842   9.863158  12.500000  -0.121053
            10.0  253.333333   8.472222  10.483333  -3.822222
            11.0  188.235294  15.582353  18.764706   3.135294
            12.0  232.352941   8.300000   9.729412   6.729412
            13.0  141.578947   9.505263  10.921053   0.515789
            14.0  150.625000   6.750000   7.862500   0.275000
            15.0  152.222222   9.183333  10.788889  -0.111111
            16.0  312.631579   8.805263  10.594737  -6.284211
            17.0  239.375000   6.493750   7.975000  -7.850000
            18.0  203.333333   8.716667  11.038889  -3.072222
            19.0  263.000000  10.095000  12.815000  -3.375000
            20.0  271.052632   5.889474   7.310526  -6.347368
            21.0  137.000000   6.375000   7.770000  -2.475000
            22.0  293.157895   4.436842   5.252632  -1.210526
            23.0  248.095238   8.880952  11.657143  -3.142857
            24.0  290.000000   5.500000   6.826316  -3.836842
            25.0  314.444444   8.127778  10.050000  -5.888889
            26.0  224.736842   9.352632  12.115789  -3.036842
            27.0  268.333333   8.011111   9.627778   0.450000
            28.0  284.285714  11.119048  13.619048  -7.947619
            29.0  247.894737   8.621053  10.615789  -8.026316
            30.0  262.105263   9.805263  12.247368  -8.110526
            31.0  243.157895   9.084211  11.057895 -11.126316
       2.0  1.0   223.684211   8.921053  11.973684  -5.763158
            2.0   263.333333   8.520000  10.460000 -10.206667
            3.0   247.222222  13.755556  17.411111 -13.411111
            4.0   262.941176  10.805882  13.723529 -18.735294
            5.0   285.000000   9.065000  11.790000 -19.295000
            6.0   232.380952   4.695238   6.128571 -16.076190
            7.0   282.222222   6.866667   8.600000 -13.250000
            8.0   274.000000   8.985000  11.335000 -14.585000
            9.0   279.411765   7.688235   9.411765 -11.647059
            10.0  276.842105   7.868421   9.889474 -12.278947
            11.0  229.411765   6.664706   8.611765  -9.000000
            12.0  130.500000   5.385000   6.380000  -2.370000
            13.0   49.444444  14.333333  16.972222  -4.505556
            14.0  123.500000  13.210000  15.835000  -6.990000
            15.0  299.411765   7.494118   9.111765 -11.147059
            16.0  240.555556   8.522222  10.761111 -13.572222
            17.0  268.947368   9.078947  10.784211  -5.852632
            18.0  301.052632   7.915789   9.863158  -6.521053
            19.0  182.941176  11.305882  13.417647  -2.076471
            20.0  204.000000   4.890000   5.965000   3.230000
            21.0  211.578947   4.178947   5.036842   2.889474
            22.0  273.333333  11.747619  14.471429   2.680952
            23.0  137.000000   6.650000   7.930000  -1.185000
            24.0   94.500000  11.690000  13.490000  -2.510000
            25.0  117.222222   8.566667  10.322222   0.411111
            26.0  223.125000   7.693750  10.231250  -0.343750
            27.0  258.000000   6.105000   7.675000  -0.770000
            28.0  151.176471   5.105882   6.029412  -0.205882
       3.0  1.0   104.666667   9.466667  10.913333   2.353333
            2.0   217.857143  13.457143  18.100000   0.700000
            3.0   261.578947  10.568421  13.357895  -3.684211
            4.0   265.000000   8.960000  11.280000  -4.380000
            5.0   266.315789  10.784211  13.015789  -1.973684
            6.0   147.222222   7.533333   9.466667  -6.750000
            7.0    81.578947   5.910526   7.110526  -3.968421
            8.0   144.117647   3.923529   4.723529  -2.970588
            9.0   149.333333   6.040000   6.833333   2.300000
            10.0  273.684211   7.052632   8.247368   6.515789
            11.0  241.000000   4.425000   5.200000   5.175000
            12.0  194.285714   7.064286   8.314286   8.535714
            13.0  215.882353   8.635294  10.947059  14.982353
            14.0  251.333333  10.053333  12.120000  13.646667
            15.0  118.333333   9.033333  10.533333   1.222222
            16.0  183.684211   7.921053   8.957895  -0.626316
            17.0  275.789474   8.821053  10.442105  -1.215789
            18.0  164.000000   4.140000   4.726667   0.353333
            19.0  214.000000   8.753333  10.706667   5.620000
            20.0  162.631579   7.168421   8.489474   2.731579
            21.0  161.428571   9.004762  10.128571   6.866667
            22.0  203.157895  11.547368  13.894737  13.894737
            23.0  121.000000   4.775000   5.410000   5.080000
            24.0  175.000000   4.487500   5.212500   8.906250
            25.0  171.333333   6.373333   7.353333  11.380000
            26.0  204.736842  10.010526  12.494737  20.857895
            27.0  250.000000   8.076471   9.823529  74.700000
            28.0  202.777778   7.261111   8.400000   4.916667
            29.0   80.769231   4.238462   5.246154   5.900000
            30.0  180.555556   6.044444   6.872222   6.172222
            31.0  168.666667   6.253333   7.146667   5.873333
       4.0  1.0   204.285714  10.738095  13.347619  11.804762
            2.0   240.000000   8.323529  11.182353  10.011765
            3.0   145.625000   7.212500   8.650000  11.306250
            4.0   277.500000  13.808333  17.583333   1.108333
            5.0   308.235294  11.205882  14.047059  -1.170588
            6.0   318.947368   8.947368  11.273684  -1.163158
            7.0   304.285714  10.090476  12.652381  -3.000000
            8.0   238.000000   5.770000   7.160000  -1.160000
            9.0   179.411765   3.858824   4.770588   1.847059
            10.0  130.000000   6.688235   7.541176   3.158824
            11.0   83.809524  12.380952  14.833333   2.409524
            12.0  253.000000   8.245000   9.835000   2.285000
            13.0  241.578947   7.010526   8.394737   3.847368
            14.0   96.875000   4.506250   5.312500   4.243750
            15.0  224.117647   4.958824   5.664706   4.023529
            16.0  267.142857   5.771429   6.471429   5.028571
            17.0  181.875000   6.268750   7.081250   6.856250
            18.0  349.444444   9.938889  11.405556   4.088889
            19.0  200.500000   6.795000   7.930000   4.615000
            20.0  202.105263   4.042105   4.536842   7.047368
            21.0  120.500000   4.465000   5.100000  11.525000
            22.0  180.000000   9.725000  10.875000  18.662500
            23.0  195.333333  13.386667  16.713333  18.826667
            24.0  149.444444   3.894444   4.522222   9.566667
            25.0   40.476190  10.652381  12.342857   6.857143
            26.0  105.000000   5.840000   6.765000   6.755000
            27.0  262.500000   5.495000   6.480000   7.510000
            28.0  224.736842   5.231579   6.368421  12.947368
            29.0  258.333333   6.638889   8.266667  18.700000
            30.0  211.250000   6.631250   8.168750  12.431250
       5.0  1.0   174.210526   5.631579   7.152632  10.736842
            2.0   305.789474   6.557895   7.884211   7.631579
            3.0   108.500000   7.310000   8.550000   7.265000
            4.0   129.375000   6.075000   6.893750   9.256250
            5.0   123.333333   6.133333   7.038889  10.322222
            6.0    91.000000   7.065000   8.185000  10.110000
            7.0   126.470588   7.800000   8.864706  13.370588
            8.0   175.000000   4.077778   4.483333  20.055556
            9.0   135.000000   3.172222   3.861111  15.366667
            10.0  110.588235   1.752941   2.300000  14.700000
            11.0  275.882353   8.117647   9.476471  14.552941
            12.0  307.058824  10.341176  11.952941   8.182353
            13.0  161.500000   3.935000   4.660000   8.705000
            14.0  185.238095   8.880952  10.633333  18.490476
            15.0  240.000000   9.817647  12.411765  22.717647
            16.0  248.823529   7.182353   8.111765   8.964706
            17.0  293.333333   9.980000  11.600000   7.100000
            18.0  229.047619   4.704762   5.266667  11.690476
            19.0  214.117647   6.752941   8.788235  18.652941
            20.0  288.125000   8.693750  10.231250  73.087500
            21.0   95.000000   4.900000   5.550000   9.583333
            22.0  138.000000   7.280000   8.340000  18.480000
            23.0  170.000000   8.611111   9.716667  23.611111
            24.0  186.666667  11.295238  13.185714  24.690476
            25.0  171.538462   5.861538   7.207692  16.546154
            26.0  123.333333   2.650000   3.433333  10.916667
            27.0  235.000000   6.475000   7.683333  18.800000
            28.0   75.000000   2.200000   2.850000  14.750000
            29.0  116.000000   6.910000   7.530000  21.780000
            30.0  149.375000   6.981250   7.756250  23.012500
            31.0  171.000000   8.030000   9.160000  22.720000
       6.0  1.0   148.235294   5.364706   5.976471  19.376471
            2.0   154.705882   4.547059   5.417647  20.558824
            3.0   185.625000   4.681250   5.875000  20.756250
            4.0   289.411765   5.494118   6.600000  17.241176
            5.0   205.000000   7.242857   8.392857  13.385714
            6.0   126.428571   5.807143   6.914286  14.721429
            7.0   175.333333  14.460000  17.493333  22.786667
            8.0   192.857143  11.842857  14.714286  24.100000
            9.0   128.571429   4.742857   5.364286  17.392857
            10.0  119.375000   5.312500   5.725000  19.606250
            11.0  110.625000   4.818750   5.312500  19.762500
            12.0   93.529412   4.788235   5.711765  18.588235
            13.0  349.230769   5.184615   5.661538  18.446154
            14.0  349.375000   3.631250   3.881250  18.737500
            15.0  173.333333   2.441667   2.741667  20.325000
            16.0  156.666667   3.460000   4.360000  25.633333
            17.0  168.000000   4.200000   4.780000  23.280000
            18.0  179.444444   8.594444   9.861111  25.388889
            19.0  247.058824   9.000000  10.900000  22.723529
            20.0  219.333333   5.080000   5.900000  21.506667
            21.0  261.428571   6.842857   8.492857  22.864286
            22.0   46.923077   5.976923   6.769231  18.630769
            23.0  125.882353   6.017647   7.176471  17.982353
            24.0  109.411765   5.535294   6.305882  18.494118
            25.0  115.789474   3.857895   4.231579  20.310526
            26.0  172.777778   5.394444   6.372222  23.488889
            27.0  208.235294   6.200000   7.688235  24.582353
            28.0  242.222222   7.650000   8.744444  20.433333
            29.0  261.250000   7.825000   9.012500  17.337500
            30.0   95.294118   4.205882   4.817647  18.005882
       7.0  1.0    85.294118   4.982353   5.782353  19.176471
            2.0   124.000000   6.945000   8.135000  18.240000
            3.0   146.842105   6.278947   6.994737  20.663158
            4.0   196.923077   8.192308   9.784615  22.546154
            5.0   206.666667   3.600000   4.080000  22.266667
            6.0    97.500000   3.350000   3.850000  22.225000
            7.0   184.705882   4.188235   5.064706  24.882353
            8.0   222.500000  10.060000  12.870000  28.275000
            9.0   228.333333   7.511111   9.444444  27.650000
            10.0  147.368421   7.500000   8.889474  24.194737
            11.0  258.000000   8.006667   9.546667  19.540000
            12.0  270.000000   8.629412  10.388235  21.505882
            13.0  170.526316   4.457895   5.331579  19.742105
            14.0  205.500000   8.495000  10.495000  21.840000
            15.0  128.235294   4.670588   5.270588  20.141176
            16.0  217.058824   4.900000   6.241176  23.258824
            17.0  157.500000   5.150000   6.110000  21.495000
            18.0  206.000000   6.126667   7.553333  24.280000
            19.0  228.888889   8.355556  10.016667  22.055556
            20.0   57.058824   8.511765   9.782353  18.317647
            21.0   68.500000   6.700000   7.765000  18.900000
            22.0   90.000000   4.181250   4.818750  20.137500
            23.0  126.842105   3.168421   3.715789  21.763158
            24.0  133.846154   2.953846   3.323077  21.846154
            25.0  185.000000   4.275000   5.050000  23.262500
            26.0  208.947368   7.552632   9.157895  23.073684
            27.0  186.250000   5.337500   6.081250  23.675000
            28.0  219.333333   6.760000   7.660000  21.086667
            29.0  139.444444   4.572222   5.255556  21.816667
            30.0  258.888889   3.116667   3.538889  22.405556
            31.0  248.750000   2.293750   2.643750  24.725000
       8.0  1.0   151.666667   2.883333   3.194444  25.611111
            2.0   184.761905   4.080952   4.895238  27.438095
            3.0   229.500000   4.880000   5.705000  25.010000
            4.0   101.500000   3.215000   3.805000  23.505000
            5.0   156.842105   8.463158  10.410526  24.557895
            6.0   193.684211   3.931579   4.710526  24.563158
            7.0   174.500000   4.880000   6.335000  25.975000
            8.0   211.578947   5.336842   6.215789  26.105263
            9.0   111.000000   3.195000   3.935000  24.680000
            10.0  179.130435   3.191304   3.721739  23.765217
            11.0  166.153846   2.930769   3.415385  25.184615
            12.0  126.521739   5.078261   6.091304  24.765217
            13.0  127.368421   4.110526   4.894737  23.568421
            14.0  180.555556   6.311111   7.694444  23.266667
            15.0  200.000000   3.980952   4.671429  24.361905
            16.0  272.777778   6.111111   7.122222  23.061111
            17.0  186.190476   5.466667   6.228571  21.514286
            18.0  162.857143   5.795238   7.052381  20.228571
            19.0  109.545455   8.095455   9.659091  18.609091
            20.0  146.500000   5.065000   6.045000  20.685000
            21.0   92.500000   4.425000   5.155000  21.065000
            22.0  163.809524   6.852381   7.995238  24.500000
            23.0  171.500000   7.330000  14.140000  23.330000
            24.0  174.761905   6.733333   7.804762  21.395238
            25.0  247.894737   4.894737   5.710526  21.231579
            26.0  161.304348   2.756522   3.139130  20.143478
            27.0  130.909091   4.813636   5.445455  20.500000
            28.0  177.058824   7.005882   7.847059  24.011765
            29.0  250.000000   5.200000   6.233333  23.916667
            30.0  211.578947   7.968421   9.089474  19.815789
            31.0  168.888889   5.161111   5.744444  19.883333
       9.0  1.0    95.909091   2.340909   2.813636  20.586364
            2.0   133.529412   5.476471   6.294118  21.476471
            3.0   200.000000   4.527273   5.286364  23.422727
            4.0   160.000000   4.213333   4.846667  24.313333
            5.0   158.260870   5.186957   6.039130  24.939130
            6.0   186.500000   7.455000   8.725000  25.420000
            7.0   206.190476  11.866667  14.533333  23.747619
            8.0   100.500000   5.940000   6.695000  21.705000
            9.0   232.380952   5.852381   6.490476  19.880952
            10.0   63.684211   7.289474   8.378947  19.236842
            11.0  249.130435   8.626087  10.508696  15.491304
            12.0  262.631579   6.752632   8.236842  13.757895
            13.0  162.000000   6.775000   7.895000  17.795000
            14.0  259.000000   8.405000   9.990000  17.865000
            15.0  258.095238   7.580952   9.476190  10.542857
            16.0  160.476190   6.880952   8.076190  14.323810
            17.0  164.210526   9.115789  10.568421  18.263158
            18.0  170.869565   9.030435  10.226087  22.373913
            19.0  187.500000   8.637500  10.275000  23.729167
            20.0  127.500000   3.475000   3.855000  19.215000
            21.0  183.684211   6.047368   7.021053  22.631579
            22.0  239.523810   7.261905   8.576190  20.371429
            23.0  116.315789   4.384211   4.978947  18.389474
            24.0  158.421053   7.415789   8.473684  23.978947
            25.0  206.956522   8.930435  11.052174  25.534783
            26.0  226.666667   5.838095   7.076190  16.952381
            27.0  207.222222   4.666667   5.972222  17.605556
            28.0  258.636364   4.745455   5.600000  16.922727
            29.0  135.652174   7.434783   8.652174  18.213043
            30.0  175.000000   9.377273  10.645455  20.586364
       10.0 1.0   198.095238   9.604762  11.700000  19.428571
            2.0   171.000000   4.895000   5.665000  17.230000
            3.0   203.478261   8.847826  10.604348  18.934783
            4.0   141.500000   5.005000   5.465000  17.625000
            5.0   151.500000   5.360000   5.795000  21.020000
            6.0   169.090909   6.127273   6.854545  23.322727
            7.0   165.000000   5.666667   6.229167  24.512500
            8.0   188.636364   7.095455   8.045455  25.268182
            9.0   261.666667   7.825000   9.845833  19.620833
            10.0  300.000000  10.261538  12.907692  10.815385
            11.0  329.166667  13.154167  15.479167   9.570833
            12.0  265.789474   6.957895   8.136842   9.226316
            13.0  229.047619   2.614286   3.428571  11.566667
            14.0  144.090909   5.118182   5.790909  14.445455
            15.0  136.190476   6.771429   7.695238  16.271429
            16.0  166.190476   5.995238   6.971429  17.009524
            17.0  174.500000   4.970000   5.670000  16.220000
            18.0  158.500000  12.970000  15.420000  19.330000
            19.0  218.947368  11.278947  14.768421  15.936842
            20.0  224.545455   9.277273  11.727273  15.136364
            21.0  190.454545  15.040909  18.186364  19.936364
            22.0  254.761905   8.780952  10.128571  15.571429
            23.0  293.157895   8.857895  10.384211   9.700000
            24.0  232.222222  11.438889  13.566667   9.944444
            25.0   56.666667  11.157143  12.938095   9.371429
            26.0  114.210526   5.194737   5.968421  12.505263
            27.0  286.666667   6.961905   8.214286  11.238095
            28.0  213.809524   4.133333   5.009524   9.342857
            29.0  205.909091   8.486364  10.318182  10.518182
            30.0  195.238095   9.471429  10.957143  12.400000
            31.0  211.666667  11.461111  14.338889  13.555556
       11.0 1.0   252.500000   7.308333   9.058333   8.241667
            2.0   187.000000   6.610000   7.775000   9.295000
            3.0   239.090909   5.440909   6.377273   9.827273
            4.0   239.500000   6.490000   8.045000   8.470000
            5.0   219.000000  10.685000  13.130000  10.165000
            6.0   292.000000  12.160000  15.085000   4.525000
            7.0   280.500000   6.340000   8.050000   3.045000
            8.0   191.176471   9.264706  10.911765   4.835294
            9.0   308.000000   5.780000   6.800000   6.660000
            13.0  171.428571   5.885714   6.700000  12.428571
            14.0  235.714286   9.947619  12.138095  11.423810
            15.0  300.000000  11.400000  14.178571   4.128571
            16.0  246.818182   5.754545   6.900000   2.077273
            17.0  112.857143   6.223810   7.352381   4.666667
            18.0   79.523810   8.076190   9.466667   4.476190
            19.0  161.304348   9.556522  11.356522   6.643478
            20.0  152.727273   5.809091   6.686364  10.559091

In [63]:
data_2007['DD'].value_counts(ascending=True)

31.0    116
29.0    196
10.0    198
12.0    202
11.0    203
4.0     207
9.0     207
30.0    211
8.0     213
13.0    213
15.0    213
28.0    214
6.0     217
26.0    218
27.0    220
2.0     221
16.0    222
5.0     223
17.0    224
25.0    224
22.0    225
14.0    225
24.0    226
20.0    230
7.0     231
18.0    231
19.0    232
3.0     232
1.0     232
23.0    233
21.0    237
Name: DD, dtype: int64

In [77]:
# this shows that the there are three days missing in November.
for i in range(1, 13):
    print(i, len(data_2007[data_2007['MM'] == i]['DD'].value_counts()))

1 31
2 28
3 31
4 30
5 31
6 30
7 31
8 31
9 30
10 31
11 27
12 31

In [79]:
nov_2007 = data_2007[data_2007['MM'] == 11.0]

In [85]:
# showing that days 10-12 in November are not represented.  We might try and populate this information with
# other data.
for i in range(1, 31):
    print(i, len(nov_2007[nov_2007['DD'] == i]))

1 24
2 20
3 22
4 20
5 20
6 20
7 20
8 17
9 5
10 0
11 0
12 0
13 7
14 21
15 14
16 22
17 21
18 21
19 23
20 22
21 22
22 20
23 22
24 21
25 22
26 22
27 17
28 22
29 21
30 22

### Exploring the data for 2008.

In [86]:
data_08 = pd.read_csv('../data/buoy_CHII2/chii2h2008.csv')
print(data_08.shape)
data_08.head()

(5138, 18)

,#YY,MM,DD,hh,mm,WDI,R WSP,D GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,#yr,mo,dy,hr,mn,deg,T m/s,m/s,m,sec,sec,deg,hPa,degC,degC,degC,nmi,ft
1,2008,1,1,0,0,140,4.1,5.1,99,99,99,999,9999,-0.3,999,999,99,99
2,2008,1,1,1,0,100,3.1,3.6,99,99,99,999,9999,-0.4,999,999,99,99
3,2008,1,1,2,0,50,4.1,4.6,99,99,99,999,9999,-0.4,999,999,99,99
4,2008,1,1,3,0,340,4.6,5.1,99,99,99,999,9999,-0.4,999,999,99,99

In [91]:
data_08.rename(mapper={
    'WDI': 'WDIR',
    'R WSP': 'WSPD',
    'D GST': 'GST'
}, axis=1, inplace=True)
data_08.head()

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,#yr,mo,dy,hr,mn,deg,T m/s,m/s,m,sec,sec,deg,hPa,degC,degC,degC,nmi,ft
1,2008,1,1,0,0,140,4.1,5.1,99,99,99,999,9999,-0.3,999,999,99,99
2,2008,1,1,1,0,100,3.1,3.6,99,99,99,999,9999,-0.4,999,999,99,99
3,2008,1,1,2,0,50,4.1,4.6,99,99,99,999,9999,-0.4,999,999,99,99
4,2008,1,1,3,0,340,4.6,5.1,99,99,99,999,9999,-0.4,999,999,99,99

In [97]:
data_08.dtypes

#YY     object
MM      object
DD      object
hh      object
mm      object
WDIR    object
WSPD    object
GST     object
WVHT    object
DPD     object
APD     object
MWD     object
PRES    object
ATMP    object
WTMP    object
DEWP    object
VIS     object
TIDE    object
dtype: object

In [98]:
data_08 = data_08.drop(index=0)

In [99]:
data_08.head()

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
1,2008,1,1,0,0,140,4.1,5.1,99,99,99,999,9999,-0.3,999,999,99,99
2,2008,1,1,1,0,100,3.1,3.6,99,99,99,999,9999,-0.4,999,999,99,99
3,2008,1,1,2,0,50,4.1,4.6,99,99,99,999,9999,-0.4,999,999,99,99
4,2008,1,1,3,0,340,4.6,5.1,99,99,99,999,9999,-0.4,999,999,99,99
5,2008,1,1,4,0,310,6.7,7.7,99,99,99,999,9999,-0.4,999,999,99,99

### Exploring the data for 2009.

In [87]:
data_09 = pd.read_csv('../data/buoy_CHII2/chii2h2009.csv')
print(data_09.shape)
data_09.head()

(8288, 18)

,#YY,MM,DD,hh,mm,WDI,R WSP,D GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2009,1,1,0,0,280,2.6,3.6,99,99,99,999,9999,-6.6,999,999,99,99
1,2009,1,1,1,0,260,3.1,4.1,99,99,99,999,9999,-6.7,999,999,99,99
2,2009,1,1,2,0,270,4.1,5.1,99,99,99,999,9999,-7.3,999,999,99,99
3,2009,1,1,3,0,270,4.6,5.7,99,99,99,999,9999,-7.7,999,999,99,99
4,2009,1,1,4,0,260,2.6,4.6,99,99,99,999,9999,-7.4,999,999,99,99

In [88]:
data_09.rename(mapper={
    'WDI': 'WDIR',
    'R WSP': 'WSPD',
    'D GST': 'GST'
}, axis=1, inplace=True)
data_09.head()

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2009,1,1,0,0,280,2.6,3.6,99,99,99,999,9999,-6.6,999,999,99,99
1,2009,1,1,1,0,260,3.1,4.1,99,99,99,999,9999,-6.7,999,999,99,99
2,2009,1,1,2,0,270,4.1,5.1,99,99,99,999,9999,-7.3,999,999,99,99
3,2009,1,1,3,0,270,4.6,5.7,99,99,99,999,9999,-7.7,999,999,99,99
4,2009,1,1,4,0,260,2.6,4.6,99,99,99,999,9999,-7.4,999,999,99,99

### Exploring the data for 2010.

In [89]:
data_10 = pd.read_csv('../data/buoy_CHII2/chii2h2010.csv')
print(data_10.shape)
data_10.head()

(8466, 18)

,#YY,MM,DD,hh,mm,WDI,R WSP,D GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2010,1,1,0,0,320,11.8,13.9,99,99,99,999,9999,-7.5,999,999,99,99
1,2010,1,1,1,0,300,9.8,12.9,99,99,99,999,9999,-8.5,999,999,99,99
2,2010,1,1,2,0,300,10.3,13.4,99,99,99,999,9999,-8.5,999,999,99,99
3,2010,1,1,3,0,300,10.3,13.4,99,99,99,999,9999,-9.0,999,999,99,99
4,2010,1,1,4,0,300,9.3,12.4,99,99,99,999,9999,-9.5,999,999,99,99

In [90]:
data_10.rename(mapper={
    'WDI': 'WDIR',
    'R WSP': 'WSPD',
    'D GST': 'GST'
}, axis=1, inplace=True)
data_10.head()

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2010,1,1,0,0,320,11.8,13.9,99,99,99,999,9999,-7.5,999,999,99,99
1,2010,1,1,1,0,300,9.8,12.9,99,99,99,999,9999,-8.5,999,999,99,99
2,2010,1,1,2,0,300,10.3,13.4,99,99,99,999,9999,-8.5,999,999,99,99
3,2010,1,1,3,0,300,10.3,13.4,99,99,99,999,9999,-9.0,999,999,99,99
4,2010,1,1,4,0,300,9.3,12.4,99,99,99,999,9999,-9.5,999,999,99,99

### Exploring the data for 2011.

In [93]:
data_11 = pd.read_csv('../data/buoy_CHII2/chii2h2011.csv')
print(data_11.shape)
data_11.head()

(8499, 18)

,#YY,MM,DD,hh,mm,WDI,R WSP,D GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2011,1,1,0,0,180,12.4,13.4,99,99,99,999,9999,11.1,999,999,99,99
1,2011,1,1,1,0,180,9.8,11.3,99,99,99,999,9999,9.8,999,999,99,99
2,2011,1,1,2,0,200,10.8,11.3,99,99,99,999,9999,11.8,999,999,99,99
3,2011,1,1,3,0,190,10.3,11.3,99,99,99,999,9999,10.9,999,999,99,99
4,2011,1,1,4,0,200,11.3,12.9,99,99,99,999,9999,12.2,999,999,99,99

In [94]:
data_11.rename(mapper={
    'WDI': 'WDIR',
    'R WSP': 'WSPD',
    'D GST': 'GST'
}, axis=1, inplace=True)
data_11.head()

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2011,1,1,0,0,180,12.4,13.4,99,99,99,999,9999,11.1,999,999,99,99
1,2011,1,1,1,0,180,9.8,11.3,99,99,99,999,9999,9.8,999,999,99,99
2,2011,1,1,2,0,200,10.8,11.3,99,99,99,999,9999,11.8,999,999,99,99
3,2011,1,1,3,0,190,10.3,11.3,99,99,99,999,9999,10.9,999,999,99,99
4,2011,1,1,4,0,200,11.3,12.9,99,99,99,999,9999,12.2,999,999,99,99

### Exploring the data for 2012.

In [95]:
data_12 = pd.read_csv('../data/buoy_CHII2/chii2h2012.csv')
print(data_12.shape)
data_12.head()

(8589, 18)

,#YY,MM,DD,hh,mm,WDI,R WSP,D GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2012,1,1,0,0,170,12.9,16.0,99,99,99,999,9999,2.9,999,999,99,99
1,2012,1,1,1,0,170,13.9,16.5,99,99,99,999,9999,3.0,999,999,99,99
2,2012,1,1,2,0,170,14.4,16.5,99,99,99,999,9999,3.2,999,999,99,99
3,2012,1,1,3,0,180,12.4,14.4,99,99,99,999,9999,3.7,999,999,99,99
4,2012,1,1,4,0,170,9.3,9.8,99,99,99,999,9999,3.9,999,999,99,99

In [96]:
data_12.rename(mapper={
    'WDI': 'WDIR',
    'R WSP': 'WSPD',
    'D GST': 'GST'
}, axis=1, inplace=True)
data_12.head()

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2012,1,1,0,0,170,12.9,16.0,99,99,99,999,9999,2.9,999,999,99,99
1,2012,1,1,1,0,170,13.9,16.5,99,99,99,999,9999,3.0,999,999,99,99
2,2012,1,1,2,0,170,14.4,16.5,99,99,99,999,9999,3.2,999,999,99,99
3,2012,1,1,3,0,180,12.4,14.4,99,99,99,999,9999,3.7,999,999,99,99
4,2012,1,1,4,0,170,9.3,9.8,99,99,99,999,9999,3.9,999,999,99,99

### Exploring the data for 2013.

In [100]:
data_13 = pd.read_csv('../data/buoy_CHII2/chii2h2013.csv')
print(data_13.shape)
data_13.head()

(30419, 18)

,#YY,MM,DD,hh,mm,WDIR,WSP,D GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2013,1,1,0,0,330,4.1,5.1,99,99,99,999,9999,-2.6,999,999,99,99
1,2013,1,1,1,0,330,5.1,6.2,99,99,99,999,9999,-3.0,999,999,99,99
2,2013,1,1,2,0,340,8.8,10.3,99,99,99,999,9999,-3.7,999,999,99,99
3,2013,1,1,3,0,350 1,0.3,12.4,99,99,99,999,9999,-5.1,999,999,99,99
4,2013,1,1,4,0,330,9.3,10.8,99,99,99,999,9999,-5.6,999,999,99,99

In [101]:
data_13.rename(mapper={
    'WDI': 'WDIR',
    'R WSP': 'WSPD',
    'D GST': 'GST'
}, axis=1, inplace=True)
data_13.head()

,#YY,MM,DD,hh,mm,WDIR,WSP,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2013,1,1,0,0,330,4.1,5.1,99,99,99,999,9999,-2.6,999,999,99,99
1,2013,1,1,1,0,330,5.1,6.2,99,99,99,999,9999,-3.0,999,999,99,99
2,2013,1,1,2,0,340,8.8,10.3,99,99,99,999,9999,-3.7,999,999,99,99
3,2013,1,1,3,0,350 1,0.3,12.4,99,99,99,999,9999,-5.1,999,999,99,99
4,2013,1,1,4,0,330,9.3,10.8,99,99,99,999,9999,-5.6,999,999,99,99

In [102]:
data_13.dtypes

#YY       int64
MM        int64
DD        int64
hh        int64
mm        int64
WDIR     object
WSP     float64
GST     float64
WVHT      int64
DPD       int64
APD       int64
MWD       int64
PRES      int64
ATMP    float64
WTMP      int64
DEWP      int64
VIS       int64
TIDE      int64
dtype: object

### Exploring the data for 2014.

In [104]:
data_14 = pd.read_csv('../data/buoy_CHII2/chii2h2014.csv')
print(data_14.shape)
data_14.head()

(33141, 18)

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2014,1,1,0,0,280,2.6,3.6,99,99,99,999,9999,-10.4,999,999,99,99
1,2014,1,1,0,30,310,2.1,3.6,99,99,99,999,9999,-10.4,999,999,99,99
2,2014,1,1,0,45,290,3.1,4.1,99,99,99,999,9999,-10.4,999,999,99,99
3,2014,1,1,1,0,280,3.1,3.6,99,99,99,999,9999,-10.3,999,999,99,99
4,2014,1,1,1,15,290,3.1,4.1,99,99,99,999,9999,-10.3,999,999,99,99

In [105]:
data_14.dtypes

#YY       int64
MM        int64
DD        int64
hh        int64
mm        int64
WDIR     object
WSPD     object
GST     float64
WVHT      int64
DPD       int64
APD       int64
MWD       int64
PRES      int64
ATMP    float64
WTMP      int64
DEWP      int64
VIS       int64
TIDE      int64
dtype: object

### Exploring the data for 2015.

In [106]:
data_15 = pd.read_csv('../data/buoy_CHII2/chii2h2015.csv')
print(data_15.shape)
data_15.head()

(34570, 18)

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2015,1,1,0,0,220,10.8,13.9,99,99,99,999,9999,-7.2,999,999.0,99,99
1,2015,1,1,0,15,220,11.8,15.4,99,99,99,999,9999,-7.2,999,999.0,99,99
2,2015,1,1,0,30,220,11.8,17.0,99,99,99,999,9999,-7.1,999,999.0,99,99
3,2015,1,1,0,45,220,12.4,17.0,99,99,99,999,9999,-6.9,999,999.0,99,99
4,2015,1,1,1,0,220,12.9,19.0,99,99,99,999,9999,-7.0,999,999.0,99,99

In [107]:
data_15.dtypes

#YY       int64
MM        int64
DD        int64
hh        int64
mm        int64
WDIR      int64
WSPD    float64
GST     float64
WVHT      int64
DPD       int64
APD       int64
MWD       int64
PRES      int64
ATMP    float64
WTMP      int64
DEWP    float64
VIS       int64
TIDE      int64
dtype: object

### Exploring the data for 2016.

In [108]:
data_16 = pd.read_csv('../data/buoy_CHII2/chii2h2016.csv')
print(data_16.shape)
data_16.head()

(51583, 18)

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2016,1,1,0,0,250,9.8,11.3,99,99,99,999,9999,-2.4,999,-6.9,99,99
1,2016,1,1,0,10,240,8.8,10.8,99,99,99,999,9999,-2.4,999,-6.7,99,99
2,2016,1,1,0,20,270,8.8,10.3,99,99,99,999,9999,-2.2,999,-6.3,99,99
3,2016,1,1,0,30,260,7.2,8.2,99,99,99,999,9999,-2.2,999,-6.1,99,99
4,2016,1,1,0,40,270,8.2,9.3,99,99,99,999,9999,-2.4,999,-6.3,99,99

In [109]:
data_16.dtypes

#YY       int64
MM        int64
DD        int64
hh        int64
mm        int64
WDIR      int64
WSPD    float64
GST     float64
WVHT      int64
DPD       int64
APD       int64
MWD       int64
PRES      int64
ATMP    float64
WTMP      int64
DEWP    float64
VIS       int64
TIDE      int64
dtype: object

### Exploring the data for 2017.

In [110]:
data_17 = pd.read_csv('../data/buoy_CHII2/chii2h2017.csv')
print(data_17.shape)
data_17.head()

(50474, 18)

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2017,1,1,0,0,280,8.8,10.3,99,99,99,999,9999,1.3,999,-6.2,99,99
1,2017,1,1,0,10,280,7.2,8.2,99,99,99,999,9999,1.2,999,-6.4,99,99
2,2017,1,1,0,20,280,7.2,7.7,99,99,99,999,9999,1.1,999,-6.2,99,99
3,2017,1,1,0,30,280,7.7,8.2,99,99,99,999,9999,1.0,999,-6.2,99,99
4,2017,1,1,0,40,280,7.7,8.8,99,99,99,999,9999,0.9,999,-6.3,99,99

In [111]:
data_17.dtypes

#YY       int64
MM        int64
DD        int64
hh        int64
mm        int64
WDIR     object
WSPD    float64
GST     float64
WVHT      int64
DPD       int64
APD       int64
MWD       int64
PRES      int64
ATMP    float64
WTMP      int64
DEWP    float64
VIS       int64
TIDE      int64
dtype: object

### Exploring the data for 2018.

In [112]:
data_18 = pd.read_csv('../data/buoy_CHII2/chii2h2018.csv')
print(data_18.shape)
data_18.head()

(50269, 18)

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2018,1,1,0,0,300,9.3,10.8,99,99,99,999,9999,-11.2,999,-18.6,99,99
1,2018,1,1,0,10,310,8.8,9.8,99,99,99,999,9999,-11.5,999,-18.6,99,99
2,2018,1,1,0,20,300,9.8,10.3,99,99,99,999,9999,-11.6,999,-18.5,99,99
3,2018,1,1,0,30,310,9.3,10.8,99,99,99,999,9999,-11.9,999,-18.8,99,99
4,2018,1,1,0,40,300,9.8,11.3,99,99,99,999,9999,-12.1,999,-18.4,99,99

In [113]:
data_18.dtypes

#YY       int64
MM        int64
DD        int64
hh        int64
mm        int64
WDIR      int64
WSPD    float64
GST     float64
WVHT      int64
DPD       int64
APD       int64
MWD       int64
PRES      int64
ATMP    float64
WTMP      int64
DEWP    float64
VIS       int64
TIDE      int64
dtype: object

### Exploring the data for 2019.

In [ ]:
# data_19 = pd.read_csv('../data/buoy_CHII2/chii2h2019.csv')

### Combining all of the dataframes into one giant dataframe.