### Exploring the Ohare weather data, 2000-2019.

https://www.ncdc.noaa.gov/cdo-web/search

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# reading in the dataframe

df = pd.read_csv('../data/temp_data/Ohare_2000_2019.csv')

In [3]:
df.head()

         DATE  TAVG  TMAX  TMIN   AVG  error Location
0  2000-01-01  42.0  48.0  35.0  41.5    0.5    Ohare
1  2000-01-02  48.0  60.0  35.0  47.5    0.5    Ohare
2  2000-01-03  35.0  38.0  32.0  35.0    0.0    Ohare
3  2000-01-04  28.0  33.0  23.0  28.0    0.0    Ohare
4  2000-01-05  20.0  26.0  13.0  19.5    0.5    Ohare

In [4]:
df.shape

(7046, 7)

In [5]:
df.error.value_counts()

 0.5     1209
 0.0     1199
-0.5      251
-1.0      211
-1.5      182
 1.0      161
-2.0      145
 1.5      132
-2.5      103
 2.0       81
 2.5       70
-3.0       66
 3.0       62
 3.5       55
-3.5       38
 4.0       36
 4.5       32
-4.0       27
 5.5       26
 5.0       23
 6.0       16
 6.5       16
-4.5       15
-5.0       14
-5.5       11
 7.5        8
 9.0        8
 9.5        6
-6.0        6
 8.5        5
-8.5        4
 8.0        4
-7.5        3
-6.5        3
 7.0        3
-8.0        2
-9.0        1
-79.0       1
 20.0       1
-7.0        1
 11.0       1
 15.0       1
 10.0       1
 11.5       1
-39.5       1
Name: error, dtype: int64

In [6]:
df.error.unique()

array([  0.5,   0. ,   4.5,   9.5,   nan, -39.5,   1. ,  -1. ,  -2.5,
        -0.5,  -3.5,  -8. ,  -7.5,  -4.5,  -5. ,  -1.5,   3. ,  -5.5,
         2. ,  -4. ,   1.5,  -6. ,   2.5,   5.5, -79. ,  -8.5,  -9. ,
        -6.5,  20. ,   3.5,   8. ,   5. ,  -3. ,   6. ,  -2. ,   4. ,
         6.5,   7.5,   9. ,   7. ,   8.5,  11.5,  -7. ,  11. ,  15. ,
        10. ])

In [7]:
df.shape

(7046, 7)