### This is the monthly summary weather data for O'hare airport.

In [1]:
import pandas as pd

In [4]:
#Ohare_custom_global 
df = pd.read_csv('data/Custom_Global_summary.csv')

In [5]:
# Ohare_custom_global.head()
df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,CDSD,DSND,DSNW,...,PRCP,SNOW,TAVG,TMAX,TMIN,TSUN,WDF2,WDF5,WSF2,WSF5
0,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.995,-87.9336,201.8,2000-01,10.5,0,14.0,5,...,1.36,13.6,25.3,32.1,18.5,NaN,330,260,28.0,37
1,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.995,-87.9336,201.8,2000-02,11.0,0,15.0,1,...,1.97,11.6,34.1,42.2,25.9,NaN,180,210,30.0,39
2,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.995,-87.9336,201.8,2000-03,9.6,2,0.0,0,...,1.19,0.0,44.2,54.7,33.7,NaN,250,280,31.1,40
3,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.995,-87.9336,201.8,2000-04,10.1,2,1.0,1,...,5.15,1.6,47.2,57.6,36.8,NaN,10,10,33.1,41
4,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.995,-87.9336,201.8,2000-05,9.4,63,0.0,0,...,4.01,0.0,62.0,72.1,51.9,NaN,70,320,36.0,48

In [6]:
df.shape

(231, 26)

In [7]:
df.columns

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'AWND',
       'CDSD', 'DSND', 'DSNW', 'EMNT', 'EMSD', 'EMSN', 'EMXP', 'EMXT', 'HDSD',
       'PRCP', 'SNOW', 'TAVG', 'TMAX', 'TMIN', 'TSUN', 'WDF2', 'WDF5', 'WSF2',
       'WSF5'],
      dtype='object')

In [9]:
df.isnull().sum()

STATION        0
NAME           0
LATITUDE       0
LONGITUDE      0
ELEVATION      0
DATE           0
AWND           0
CDSD           0
DSND           2
DSNW           0
EMNT           0
EMSD           2
EMSN           0
EMXP           0
EMXT           0
HDSD           0
PRCP           0
SNOW           0
TAVG           0
TMAX           0
TMIN           0
TSUN         226
WDF2           0
WDF5           0
WSF2           0
WSF5           0
dtype: int64