## Cleaning the daily wind data for Ohare airport for the years 2000-2019.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/Wind_data/ohare_wind_2000_2019_unclean.csv')
print(df.shape)
df.head()

(7053, 10)

,STATION,NAME,DATE,AWND,FMTM,PGTM,WDF2,WDF5,WSF2,WSF5
0,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",2000-01-01,7.38,148.0,134.0,200.0,210.0,17.9,23.9
1,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",2000-01-02,13.87,1537.0,1536.0,240.0,230.0,25.9,36.9
2,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",2000-01-03,12.75,1828.0,1248.0,30.0,80.0,17.9,25.1
3,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",2000-01-04,13.42,227.0,210.0,320.0,300.0,21.9,29.1
4,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",2000-01-05,11.18,2017.0,2102.0,170.0,160.0,23.0,25.9

In [3]:
df.isnull().sum()

STATION       0
NAME          0
DATE          0
AWND          1
FMTM       2765
PGTM       2939
WDF2          1
WDF5         23
WSF2          1
WSF5         23
dtype: int64

In [4]:
df.drop(columns=['FMTM', 'PGTM', 'STATION', 'NAME'])

            DATE   AWND   WDF2   WDF5  WSF2  WSF5
0     2000-01-01   7.38  200.0  210.0  17.9  23.9
1     2000-01-02  13.87  240.0  230.0  25.9  36.9
2     2000-01-03  12.75   30.0   80.0  17.9  25.1
3     2000-01-04  13.42  320.0  300.0  21.9  29.1
4     2000-01-05  11.18  170.0  160.0  23.0  25.9
5     2000-01-06  11.18  180.0  170.0  19.9  23.0
6     2000-01-07   9.62  280.0  290.0  23.0  30.0
7     2000-01-08  11.63  210.0  200.0  19.9  25.1
8     2000-01-09   6.49  150.0  160.0  13.0  15.0
9     2000-01-10  14.09  250.0  240.0  28.0  36.0
10    2000-01-11  14.99  270.0  260.0  28.0  36.9
11    2000-01-12  11.41   90.0  100.0  25.9  34.0
12    2000-01-13  11.86  360.0   20.0  21.0  25.9
13    2000-01-14   7.61  160.0  180.0  17.9  21.9
14    2000-01-15   9.62  210.0  210.0  16.1  21.0
15    2000-01-16  14.54   20.0   10.0  28.0  32.0
16    2000-01-17  13.42  140.0  160.0  21.0  23.9
17    2000-01-18   8.50  260.0  270.0  17.0  21.0
18    2000-01-19   5.82  340.0  350.0  19.9  25.1
19    2000-01-20  14.32  330.0  330.0  28.0  34.0
20    2000-01-21   5.82  280.0  290.0  13.0  15.0
21    2000-01-22   7.61  140.0  140.0  15.0  16.1
22    2000-01-23  13.65  230.0  240.0  21.9  25.1
23    2000-01-24   8.28  240.0  240.0  15.0  19.9
24    2000-01-25  14.99  330.0  350.0  23.9  28.0
25    2000-01-26  12.30  340.0  340.0  17.9  23.0
26    2000-01-27   6.93  340.0  310.0  15.0  21.9
27    2000-01-28   4.92  150.0   70.0  13.0  19.9
28    2000-01-29  12.30   70.0   90.0  21.9  25.1
29    2000-01-30   6.26   90.0  320.0  15.0  17.0
...          ...    ...    ...    ...   ...   ...
7023  2019-03-25  17.45   20.0   50.0  28.0  35.1
7024  2019-03-26   4.92  100.0  110.0  13.0  17.0
7025  2019-03-27  12.08  190.0  180.0  21.9  36.0
7026  2019-03-28  12.08   30.0  200.0  19.9  28.0
7027  2019-03-29   8.50   20.0   30.0  16.1  19.0
7028  2019-03-30  12.97   20.0   20.0  28.0  36.0
7029  2019-03-31  11.41  340.0  330.0  21.0  30.0
7030  2019-04-01  12.75  200.0  210.0  23.9  36.9
7031  2019-04-02  14.09  240.0  250.0  25.1  35.1
7032  2019-04-03   9.40  260.0  240.0  19.9  28.0
7033  2019-04-04   9.84   80.0   80.0  18.1  25.1
7034  2019-04-05   3.58  110.0  120.0  10.1  14.1
7035  2019-04-06   4.92   70.0   80.0  16.1  19.9
7036  2019-04-07   8.28  270.0  270.0  23.0  38.9
7037  2019-04-08   8.50  330.0  330.0  19.9  28.0
7038  2019-04-09  11.86   20.0   20.0  33.1  40.0
7039  2019-04-10  17.90   80.0   60.0  28.0  38.9
7040  2019-04-11  16.11   80.0   60.0  25.1  38.0
7041  2019-04-12  16.55  220.0  230.0  31.1  46.1
7042  2019-04-13  12.30  260.0  280.0  21.9  31.1
7043  2019-04-14  18.12   20.0   20.0  31.1  40.9
7044  2019-04-15   8.28  210.0  210.0  16.1  21.0
7045  2019-04-16  10.29   30.0  220.0  21.0  25.1
7046  2019-04-17  12.08  200.0  210.0  23.9  36.0
7047  2019-04-18  12.08  330.0  220.0  21.0  28.0
7048  2019-04-19  25.95   20.0  360.0  36.9  49.0
7049  2019-04-20  13.87   30.0   30.0  30.0  38.9
7050  2019-04-21   8.72  160.0  170.0  19.9  27.1
7051  2019-04-22  13.20  200.0  180.0  25.1  36.0
7052  2019-04-23    NaN    NaN    NaN   NaN   NaN

[7053 rows x 6 columns]

In [5]:
ohare_wind = df.drop(columns=['FMTM', 'PGTM', 'STATION', 'NAME'])

In [6]:
ohare_wind['DATE'] = pd.to_datetime(ohare_wind['DATE'])

In [7]:
ohare_wind.dtypes

DATE    datetime64[ns]
AWND           float64
WDF2           float64
WDF5           float64
WSF2           float64
WSF5           float64
dtype: object

In [8]:
ohare_wind['DATE']

0      2000-01-01
1      2000-01-02
2      2000-01-03
3      2000-01-04
4      2000-01-05
5      2000-01-06
6      2000-01-07
7      2000-01-08
8      2000-01-09
9      2000-01-10
10     2000-01-11
11     2000-01-12
12     2000-01-13
13     2000-01-14
14     2000-01-15
15     2000-01-16
16     2000-01-17
17     2000-01-18
18     2000-01-19
19     2000-01-20
20     2000-01-21
21     2000-01-22
22     2000-01-23
23     2000-01-24
24     2000-01-25
25     2000-01-26
26     2000-01-27
27     2000-01-28
28     2000-01-29
29     2000-01-30
          ...
7023   2019-03-25
7024   2019-03-26
7025   2019-03-27
7026   2019-03-28
7027   2019-03-29
7028   2019-03-30
7029   2019-03-31
7030   2019-04-01
7031   2019-04-02
7032   2019-04-03
7033   2019-04-04
7034   2019-04-05
7035   2019-04-06
7036   2019-04-07
7037   2019-04-08
7038   2019-04-09
7039   2019-04-10
7040   2019-04-11
7041   2019-04-12
7042   2019-04-13
7043   2019-04-14
7044   2019-04-15
7045   2019-04-16
7046   2019-04-17
7047   2019-04-18
7048   2019-04-19
7049   2019-04-20
7050   2019-04-21
7051   2019-04-22
7052   2019-04-23
Name: DATE, Length: 7053, dtype: datetime64[ns]

In [9]:
ohare_wind['DATE'].nunique()

7053

In [8]:
ohare_wind.set_index('DATE', inplace=True)

In [9]:
ohare_wind

             AWND   WDF2   WDF5  WSF2  WSF5
DATE
2000-01-01   7.38  200.0  210.0  17.9  23.9
2000-01-02  13.87  240.0  230.0  25.9  36.9
2000-01-03  12.75   30.0   80.0  17.9  25.1
2000-01-04  13.42  320.0  300.0  21.9  29.1
2000-01-05  11.18  170.0  160.0  23.0  25.9
2000-01-06  11.18  180.0  170.0  19.9  23.0
2000-01-07   9.62  280.0  290.0  23.0  30.0
2000-01-08  11.63  210.0  200.0  19.9  25.1
2000-01-09   6.49  150.0  160.0  13.0  15.0
2000-01-10  14.09  250.0  240.0  28.0  36.0
2000-01-11  14.99  270.0  260.0  28.0  36.9
2000-01-12  11.41   90.0  100.0  25.9  34.0
2000-01-13  11.86  360.0   20.0  21.0  25.9
2000-01-14   7.61  160.0  180.0  17.9  21.9
2000-01-15   9.62  210.0  210.0  16.1  21.0
2000-01-16  14.54   20.0   10.0  28.0  32.0
2000-01-17  13.42  140.0  160.0  21.0  23.9
2000-01-18   8.50  260.0  270.0  17.0  21.0
2000-01-19   5.82  340.0  350.0  19.9  25.1
2000-01-20  14.32  330.0  330.0  28.0  34.0
2000-01-21   5.82  280.0  290.0  13.0  15.0
2000-01-22   7.61  140.0  140.0  15.0  16.1
2000-01-23  13.65  230.0  240.0  21.9  25.1
2000-01-24   8.28  240.0  240.0  15.0  19.9
2000-01-25  14.99  330.0  350.0  23.9  28.0
2000-01-26  12.30  340.0  340.0  17.9  23.0
2000-01-27   6.93  340.0  310.0  15.0  21.9
2000-01-28   4.92  150.0   70.0  13.0  19.9
2000-01-29  12.30   70.0   90.0  21.9  25.1
2000-01-30   6.26   90.0  320.0  15.0  17.0
...           ...    ...    ...   ...   ...
2019-03-25  17.45   20.0   50.0  28.0  35.1
2019-03-26   4.92  100.0  110.0  13.0  17.0
2019-03-27  12.08  190.0  180.0  21.9  36.0
2019-03-28  12.08   30.0  200.0  19.9  28.0
2019-03-29   8.50   20.0   30.0  16.1  19.0
2019-03-30  12.97   20.0   20.0  28.0  36.0
2019-03-31  11.41  340.0  330.0  21.0  30.0
2019-04-01  12.75  200.0  210.0  23.9  36.9
2019-04-02  14.09  240.0  250.0  25.1  35.1
2019-04-03   9.40  260.0  240.0  19.9  28.0
2019-04-04   9.84   80.0   80.0  18.1  25.1
2019-04-05   3.58  110.0  120.0  10.1  14.1
2019-04-06   4.92   70.0   80.0  16.1  19.9
2019-04-07   8.28  270.0  270.0  23.0  38.9
2019-04-08   8.50  330.0  330.0  19.9  28.0
2019-04-09  11.86   20.0   20.0  33.1  40.0
2019-04-10  17.90   80.0   60.0  28.0  38.9
2019-04-11  16.11   80.0   60.0  25.1  38.0
2019-04-12  16.55  220.0  230.0  31.1  46.1
2019-04-13  12.30  260.0  280.0  21.9  31.1
2019-04-14  18.12   20.0   20.0  31.1  40.9
2019-04-15   8.28  210.0  210.0  16.1  21.0
2019-04-16  10.29   30.0  220.0  21.0  25.1
2019-04-17  12.08  200.0  210.0  23.9  36.0
2019-04-18  12.08  330.0  220.0  21.0  28.0
2019-04-19  25.95   20.0  360.0  36.9  49.0
2019-04-20  13.87   30.0   30.0  30.0  38.9
2019-04-21   8.72  160.0  170.0  19.9  27.1
2019-04-22  13.20  200.0  180.0  25.1  36.0
2019-04-23    NaN    NaN    NaN   NaN   NaN

[7053 rows x 5 columns]

In [10]:
ohare_wind.to_csv('../data/Wind_data/ohare_wind_2000_2019.csv')