## Cleaning the daily wind data for Botanic Garden for the years 2000-2019.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/Wind_data/garden_wind_2000_2019_unclean.csv')
print(df.shape)
df.head()

(7050, 6)

       STATION                           NAME        DATE  DAWM  MDWM  WDMV
0  USC00111497  CHICAGO BOTANIC GARDEN, IL US  2000-01-01   NaN   NaN   NaN
1  USC00111497  CHICAGO BOTANIC GARDEN, IL US  2000-01-02   NaN   NaN   NaN
2  USC00111497  CHICAGO BOTANIC GARDEN, IL US  2000-01-03   NaN   NaN   NaN
3  USC00111497  CHICAGO BOTANIC GARDEN, IL US  2000-01-04   NaN   NaN   NaN
4  USC00111497  CHICAGO BOTANIC GARDEN, IL US  2000-01-05   NaN   NaN   NaN

In [3]:
df.notnull().sum()

STATION    7050
NAME       7050
DATE       7050
DAWM          1
MDWM          1
WDMV       3276
dtype: int64

In [4]:
pd.options.display.max_rows = 2000

In [6]:
df[df.WDMV.notnull()].head()

         STATION                           NAME        DATE  DAWM  MDWM  WDMV
126  USC00111497  CHICAGO BOTANIC GARDEN, IL US  2000-05-06   NaN   NaN  13.0
127  USC00111497  CHICAGO BOTANIC GARDEN, IL US  2000-05-07   NaN   NaN  29.8
128  USC00111497  CHICAGO BOTANIC GARDEN, IL US  2000-05-08   NaN   NaN  11.8
129  USC00111497  CHICAGO BOTANIC GARDEN, IL US  2000-05-09   NaN   NaN  23.0
130  USC00111497  CHICAGO BOTANIC GARDEN, IL US  2000-05-10   NaN   NaN  14.3

### This dataset has a lot of missing data.  Sigh!